@import '../../styles/_colors.scss';

.sidebar {
  min-width: 350px;
  flex: 1;
  border-right: 2px solid $border-color;

  &.sidebarHidden {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
